<template h-model MODIFIERS>
    <style h-style>
        :root {
            color: inherit;
        }
    </style>
    <div>
        Testing COMPONENT_NAME Component
    </div>
    <script type="module" h-script>
        import { HydrateComponent } from "../lib/hydrate/hydrate.js";
        
        export class COMPONENT_NAMEComponent extends HydrateComponent {
            onInit(eventDetails) {

            }
            onPreRender(eventDetails) {
            
            }
            onPostRender(eventDetails) {
            
            }
            onDestroy() {
            
            }
        }
    </script>
</template>