<template>
    <template h-template="app-root" h-source="./components/root"></template>
	<template h-template="app-navbar" h-source="./components/navbar"></template>
	<template h-template="app-footer" h-source="./components/footer"></template>
	<template h-template="app-page" h-source="./components/page"></template>
	<template h-template="app-loadingpage" h-source="./components/loadingpage"></template>
	<template h-template="app-errorpage" h-source="./components/errorpage"></template>
	<template h-template="app-home" h-source="./components/home"></template>
</template>