<template>
    <template h-template="app-root" h-source="./components/root/component.js"></template>
	<template h-template="app-navbar" h-source="./components/navbar/component.js"></template>
	<template h-template="app-page" h-source="./components/page/component.js"></template>
	<template h-template="app-loading-page" h-source="./components/loading-page/component.js"></template>
	<template h-template="app-error-page" h-source="./components/error-page/component.js"></template>

	<template h-template="app-home" h-source="./components/home/component.js" h-lazy></template>
</template>